{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Reclaim Congress is primarily concerned with co-ordinating discussion between ordinary citizens across boundaries, both geographical and political. We also aim to educate the public about Electoral Reform - Alternative voting methods such as <a href="https://www.youtube.com/watch?v=fg0_Vhldz-8" target="_blank">Liquid Democracy</a> and <a href="http://en.wikipedia.org/wiki/Range_voting" target="_blank">Range Voting</a>.</p>

  <p>Reclaim Congress was founded in Late April, 2015</p>

  <p><b>Contact:</b> <a href="mailto:drew@warshaver.com">drew@warshaver.com</a>, <a href="https://github.com/ThirdCoalition/primary" target="_blank">GitHub</a></p>
</div>

{% endblock %}
