{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>The Online U.N. is primarily concerned with co-ordinating discussion between ordinary citizens across boundaries, both geographical and political. We are also on a mission to educate the public about Electoral Reform. Our first challenge is to disrupt the entrenched Two-Party System and other established bureaucracies.</p>

  <p>The Online U.N. was founded by <a href="http://www.reddit.com/r/TeamItUp" target="_blank">/r/TeamItUp</a> in Late April, 2015</p>

  <p><b>Contact</b> - <a href="http://www.reddit.com/r/onlineUN" target="_blank">/r/onlineUN</a>, <a href="http://www.twitter.com/Online_UN" target="_blank">@Online_UN</a>, <a href="https://github.com/ThirdCoalition/primary" target="_blank">GitHub</a>, <a href="mailto:drew@warshaver.com">drew@warshaver.com</a>, <a href="http://www.warshaver.com" target="_blank">blog</a></p>
</div>

{% endblock %}
