{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv paddedcenter" style="padding-top:4px;">
  <p><b>Your Platform</b> - We run entirely online, and entirely based on <b>your feedback</b>.

  <ol>
    <li><b>Moderation</b> - We intend to moderate discussion in Congress and force a return to rational discourse.</li>

    <li><b>Transparency</b> - We would like to accelerate FOIA requests, install civilian oversight, and provide amnesty for whistle blowers. Our own transparency measures: check out our <a href="/blog">cartoons</a> to understand my viewpoint. Check out our <a href="/almanac">almanac</a> to see the world through my eyes (and learn how to predict the future).</li>

    <li><b>Campaign Finance Reform</b> - Pretty self explanatory but could use suggestions on specifics.</li>

    <li><b>Electoral Reform</b> - Our favorites are <a href="http://en.wikipedia.org/wiki/Range_voting" target="_blank">Range</a> and <a href="http://en.wikipedia.org/wiki/Proportional_representation" target="_blank">Proportional</a>. Read about even more types <a href="/reform">here</a>.</li>

    <li><b>Scientific Inquiry</b> - With a focus on listening to all opinions, consensus building, sustainable living, and <b>fact-checking</b>.</li>

    <li><b>Hypothesis</b>: The #1 priority is to disrupt the Two-Party System and return to a fluid majority in Congress. This is the root cause of our government's dysfunction and We are working on a proposal to illustrate this notion further.</li>

    <li><b>Further Development</b> - I personally identify as Libertarian and Green. I believe in strong individual rights, strong state's rights, and sustainable living. For divisive issues, I intend to experiment with crowd-sourced solutions, notably: liquid feedback, loomio, and citizen juries. More on emerging <a href="related#lf">discourse platforms</a>.</li>

    <li><b>Branching</b> - You are encouraged to use any or all of this platform as a starting point for your own campaign. Everything is available in our <a href="https://github.com/ThirdCoalition/primary" target="_blank">GitHub Repo</a> under an MIT license.</li>
  </ol>

  <p><b>Mission Statement</b> - The Third Coalition is primarily concerned with co-ordinating discussion between Third Parties and Independents. We are also on a mission to educate the public about <a href="reform">Electoral Reform</a>. Our first challenge is to defeat the entrenched Two-Party System.</p>

  <p><b>About Us</b> - The Direct Democracy Party was founded by Andrew Warshaver and Jeffrey Schroder in late 2014. Our <a href="http://igg.me/at/ddp" target="_blank">Indiegogo Campaign</a> is still live. Read more about us on our <a href="http://www.reddit.com/r/IAmA/comments/2xm1l6/" target="_blank">AMA</a>. The <b>Third Coalition</b> is an agile pivot from the original plan.</p>
</div>

{% endblock %}
