{% extends "base.html" %}

{% load staticfiles %}

{% load macros %}

{% macro location_form button %}
  <form id="accountform" method="post"> {% csrf_token %}
    <input name="location" maxlength="10" value="{{ settings.location }}"
           style="text-align:center; font-size:large;" />
    {% if button %}
      <input type="submit" style="font-size:large;" />
    {% endif %}
  </form>
{% endmacro %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  {% if request.path == '/account' %}
    <div class="topdiv settingsdiv" style="background-color:#EEE888;">
      <h2 style="margin:8px;">Recruitment</h2>

      {% if settings.handle != '' %}
        <p style="margin-top:10px;">Your constituency size is: {{ constituency_size }}</p>

        <p>Your delegacy page will display: {{ user_placard }}</p>

        <p>Recruit Constituents:
          <a href="javascript:void(0);" onclick="shareFacebook('{{ settings.handle }}');">
            <img src="{% static 'facebook.png' %}" class="faceholder2" /></a>

          <a href="javascript:void(0);" onclick="shareReddit('{{ settings.handle }}');">
            <img src="{% static 'reddit.png' %}" class="faceholder2" /></a>
        </p>

        <p>Your referral code is:</p>
      {% else %}
        <p>Choose a referral code for your delegacy:</p>
      {% endif %}

      <form id="handleform" method="post" style="display:inline-block;"> {% csrf_token %}
        <input name="handle" maxlength="20" value="{{ settings.handle }}"
               style="text-align:center; font-size:large;" />
        <input type="submit" style="font-size:large;" />
      </form>
    </div>

    <div class="topdiv settingsdiv">
      <h2 style="margin:8px;">Settings</h2>

      <p style="display:none;">Your region is:</p>
      <form style="display:none;" id="regionform" method="post"> {% csrf_token %}
        <select name="region" style="font-size:large;">
          {% for region in regions %}
          <option {% if settings.region == region %}selected="selected"{% endif %}
                  value="{{ region.id }}">{{ region.name }}</option>
          {% endfor %}
        </select>
        <input type="submit" style="font-size:large;" />
      </form>

      <p style="margin-top:10px;">Your postal code is: {% use_macro location_form "button" %}</p>

      <p>Your delegate is: {{ delegate_placard }}</p>
    </div>

    <p><a class="btn-red" href="{% url 'auth:logout' %}?next=/">Logout</a></p>
  {% else %}
    {% if new_delegate %}
      <form id="confirmform" method="post" style="display:none;"> {% csrf_token %}
        <input name="confirm" value="yes" />
      </form>

      <p>{{ new_delegate }} is requesting to be your delegate. Do you confirm?</p>
      <a class="btn-blue" href="javascript:void(0);"
         onclick="javascript: document.querySelector('#confirmform').submit();">Confirm</a>
      <a class="btn-red" href="/">Cancel</a>
    {% else %}
      <p>Your delegate is: {{ delegate_placard }}</p>

      <p style="margin-bottom:10px;">Please enter your postal code: {% use_macro location_form %}</p>

      <a class="btn-blue" href="javascript:void(0);"
         onclick="javascript: document.querySelector('#accountform').submit();">Continue &raquo;</a>
     {% endif %}
  {% endif %}
</div>

{% endblock %}
