{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Next, select any other parties that you approve of.</p>
  <p>Don't forget to <a href="javascript:void(0);" onclick="saveRange();">Save</a> when you're done.</p>
</div>

<div class="topdiv">
  <form method="post" action="/saverange"> {% csrf_token %}
    <table class="results">
      <tr class="favorite">
        <td class="range">
	  <a href="/vote" style="font-size:large;">&laquo; Change Favorite</a>
            <div style="background-color:{{ fav.color }};">
              <span onclick="javascript: location.href='/vote';">
                <input name="{{ fav.id }}" class="rangeValue" value="10"
                       tabindex="{{ fav.id }}" readonly="readonly" />
              </span>
            </div>
        </td>
      
        <td class="candidate" style="background-color:gainsboro; border:2px dashed black;">
          <p><b>{{ fav.name }}</b> - {{ fav.synopsis }}</p>
          <a href="{{ fav.link }}" target="_blank">homepage</a>
        </td>
      </tr>

    {% for c in candidates %}
      {% if c.id != fav.id %}
        <tr>
          <td class="range">
            <div style="padding-bottom:8px; width:26px;">
              <img class="arrow" src="{% static 'uparrow.png' %}"
                   onclick="javascript: tinkerApproval('{{ c.id }}', 1);" />
              <img class="arrow" src="{% static 'downarrow.png' %}"
                   onclick="javascript: tinkerApproval('{{ c.id }}', -1);" />
            </div>

            <div style="background-color:{{ c.color }};">
              <span onclick="javascript: toggleApproval(this);">
                <input name="{{ c.id }}" id="{{ c.id }}" value="{{ c.rating }}" readonly="readonly"
                       maxlength="1" tabindex="{{ c.id }}" class="rangeValue" />
              </span>
            </div>
          </td>
      
          <td class="candidate">
            <p>{{ c.name }} - {{ c.synopsis }}</p>
            <a href="{{ c.link }}" target="_blank">homepage</a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}

    </table>
  </form>
</div>

<div class="topdiv" style="padding-top:4px;">
  <p>Don't forget to <a href="javascript:void(0);" onclick="saveRange()">Save</a></p>
</div>

{% endblock %}
