{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <img src="{% static 'transparency.png' %}" alt="transparency" />

  <p style="font-size:xx-large;">Choices</p>
  <img src="{% static 'newflag.png' %}" alt="new flags"</img>

  <p style="font-size:xx-large;">The D.C. Shuffle</p>
  <img src="{% static 'deadlock.png' %}" alt="d.c. shuffle"</img>

  <p style="font-size:xx-large;">Lemmings</p>
  <img src="{% static 'koch.png' %}" alt="koch blockers"</img>

  <p style="font-size:xx-large;">TPS Report [Wake Up, Sheeple]</p>
  <img src="{% static 'sheeple.png' %}" alt="sheeple" />

  <p style="font-size:xx-large;">S.T.E.M.</p>
  <img src="{% static 'stem.png' %}" alt="stem" />

  <p style="font-size:xx-large;">Evolution [of a Cartoon]</p>
  <img src="{% static 'evolution.png' %}" alt="evolution" />

  <p style="font-size:xx-large;">Evolution [of a System]</p>
  <img src="{% static 'pyramidscheme.png' %}" style="width:960px" alt="pyramid scheme" />
</div>

{% endblock %}
