{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>E-Mail: <a href="mailto:drew@warshaver.com">drew@warshaver.com</a></p>
  <p>Office Hours: MWF 11-1 EST and TR 5-7 EST</p>
  <p>Comms options (ordered by preference): Curse Voice(drewshaver), gchat(warshaver), reddit(<a href="http://www.reddit.com/u/drewshaver">/u/drewshaver</a>), IRC(tbd), Skype(drewshaver)</p>
  <p>Please make change requests (new parties, mottos, colors), link exchanges, coordination efforts, etc in our subreddit, <a href="http://www.reddit.com/r/thirdcoalition">/r/thirdcoalition</a>. Ideally submit a pull request to our <a href="https://github.com/ThirdCoalition/primary">GitHub Repo</a>, but that isn't strictly necessary.</p>
</div>

{% endblock %}
