{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>E-Mail for private message: <a href="mailto:drew@warshaver.com">drew@warshaver.com</a></p>
  <p><a href="http://www.reddit.com/r/thirdcoalition">/r/thirdcoalition</a> is preferred for the sake of transparency.</p>
  <p>Office Hours: MW at 11-1 EST, Tu at 5-7 EST, and SatSun at 16-18 <b>GMT</b></p>
  <p>Comms options (ordered by preference): Curse Voice(drewshaver), gchat(warshaver), reddit(<a href="http://www.reddit.com/u/drewshaver">/u/drewshaver</a>), IRC(tbd), Skype(drewshaver)</p>
  <p>Please make change requests (new parties, mottos, colors), link exchanges, coordination efforts, etc in our subreddit, <a href="http://www.reddit.com/r/thirdcoalition">/r/thirdcoalition</a>. Ideally submit a pull request to our <a href="https://github.com/ThirdCoalition/primary">GitHub Repo</a>, but that isn't strictly necessary.</p>
</div>

{% endblock %}
