{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>The most important thing you can do to help is simply driving traffic to our landing page, <a href="http://ThirdCoalition.com">ThirdCoalition.com</a> [TODO:Share buttons]. Of course, your <a href="http://igg.me/at/ddp" target="_blank">donations</a> continue to be greatly appreciated. Any funds received will help to formally establish the Third Coalition and the DDP.</p>

  <p><a href="http://eepurl.com/bfW0zn" target="_blank">Sign up</a> for our weekly newsletter and help us to conduct Market Research by continuing to send us your valuable comments and feedback. Stop by our <a href="/contact">Office Hours</a> to have a live chat. In an effort to promote literacy, tell me the last few books or movies you have enjoyed, and I will make a recommendation! Let's talk allegory.</p>

  <p>If you'd like to help out in a more official capacity, please send your CV / Portfolio to <a href="mailto:resumes@ourddp.com">resumes@ourddp.com</a>. We probably can't pay you much, at least not now, though there may be a few staff positions in the future. The primary areas we need help with are: PR / Marketing / Social Manager, Artist, UI Artist, Android and IPhone devs. Also a Network Engineer / Cloud Expert or a Best Practices / Common Pitfalls Guide.</p>

  <p>The next way to help is get educated on <a href="/reform">Electoral Reform</a>, and start a discussion in your community. Decide amonst yourselves what your favorite type of reform is. After that, we will need Independent and Third Candidates to start declaring in droves. Never done politics before? No problem: Me neither!</p>

  <p>To facilitate orderly, transparent coordination, we are asking every party / independent organization to send 2-5 members to our subreddit, <a href="http://www.reddit.com/r/thirdcoalition" target="_blank">/r/thirdcoalition</a>. We need your help filling  out the links, logos, color preferences, and mottos.</p>

  <p>Brownie points if one or more of your liasons is able to submit pull requests to our <a href="https://github.com/ThirdCoalition/primary" target="_blank">GitHub Repo</a> (or at least works with someone who can). We've made it easy for non-programmers to submit changes.</p>

  <p>Start your own primary! You can use our software to run an internal primary, or a similar inter-party movement in another country. <a href="/contact">Contact Us</a> about getting set up. Alternatively, fork the repo and run your own servers (everything is setup for Heroku). We are under an MIT license so you are free to go wild. The only thing we ask is that you leave the top banner on the left as the buffalo (we suggest replacing the right one with your own banner). You are not under strict terms to do this but consider this a good-faith request.</a>
</div>

{% endblock %}
