{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Welcome to Reclaim Congress!</p>

  <p>We are hosting independent primaries and online debates for the 2016 elections.</p>

  {% if msg == 'register' %}
  <p>{{ delegate_placard }} would like to be your delegate.</p>
  <p>Do you trust him or her to represent your interests?</p>
  <a class="btn-blue" href="javascript:confirm();">Confirm</a>
  <a class="btn-red" href="javascript:cancel();">Cancel</a>
  <p id="cancel-p" style="display:none;">No problem, you can represent yourself.</p>
  {% endif %}

  <p id="login-p" {% if msg == 'register' %}style="display:none;"{% endif %}>Please login
    <span class="logins">
      <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
        <img src="{% static 'facebook.png' %}" /></a>
      <a href="{% url 'social:begin' 'reddit' %}?next={{ request.path }}">
        <img src="{% static 'reddit.png' %}" /></a>
    </span>
   to {{ msg }}.
  </p>
</div>

{% endblock %}
