{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p><a href="http://www.post-gazette.com/news/state/2015/03/16/CMU-grads-are-turning-to-crowdfunding-to-start-new-political-party/stories/201503020162" target="_blank">Article</a> about the DDP in the Pittsburgh Post-Gazette.</p>

  <p>Third Parties <a href="http://www.usnews.com/news/blogs/washington-whispers/2012/11/16/third-party-groups-ponder-coalition-some-want-bloomberg-as-leader" target="_blank">consider a coalition</a> back in 2012. What ever happened to that??</p>
</div>

{% endblock %}
