{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv paddedcenter" style="padding-top:4px;">
  <p><b>An Open Platform</b></p>

  <ol>
    <li><b>Moderation</b> - We intend to moderate discussion in Congress and force a return to rational discourse, with a focus on multi-partisan solutions and fact-checking.</li>

    <li><b>Transparency</b> - We would like to accelerate FOIA requests, install civilian oversight, and provide a safe framework that encourages responsible whistle-blowing.</li>

    <li><b>Campaign Finance Reform</b> - We will refuse all corporate donations. Instead of traditional advertising, we will rely on grass roots campaigns and viral marketing.</li>

    <li><b>Scientific Inquiry</b> - With a focus on keeping an open mind, sustainable living, and humane exploration.</li>

    <li><b>Ballot Access</b> - We support all types of electoral reform, especially range voting and proportional representation.</li>

    <li><b>Hypothesis</b> - The #1 priority is to disrupt the Two-Party System and return to a fluid majority in Congress. This is the root cause of our government's current dysfunction.</li>

    <li><b>Further Development</b> - We intend to experiment with crowd-sourced solutions, e.g. liquid feedback and citizen juries.</li>

    <li><b>Branching</b> - You are encouraged to use any or all of this platform as a starting point for your own campaign. Everything is available in our <a href="https://github.com/ThirdCoalition/primary" target="_blank">GitHub Repo</a> under an MIT license.</li>
  </ol>

  <p><b>Further Reading</b></p>
  <p>Background information: <a href="http://en.wikipedia.org/wiki/Third_party_(United_States)#Barriers_to_third_party_success" target="_blank">Barriers</a> to third party success, <a href="http://en.wikipedia.org/wiki/Duverger's_law" target="_blank">Duverger's Law</a> and this brief <a href="https://www.youtube.com/watch?v=s7tWHJfhiyo" target="_blank">video</a></p>

  <p>Electoral Reform: Our favorites are <a href="http://en.wikipedia.org/wiki/Range_voting" target="_blank">Range</a> and <a href="http://en.wikipedia.org/wiki/Proportional_representation" target="_blank">Proportional</a Voting>. There is also <a href="http://en.wikipedia.org/wiki/Instant-runoff_voting" target="_blank">IRV / Ranked</a> and <a href="http://wiki.electorama.com/wiki/Proportional_approval_voting" target="_blank">PAV</a></p>

  <p>Liquid Democracy is a form of Representative Democracy for the Technology Age. See this <a href="https://www.youtube.com/watch?v=fg0_Vhldz-8" target="_blank">educational video</a> that explains it quite well. We believe this is what the Founders envisioned for our country, but extensive gerrymandering and population growth has distorted the process.</p>
</div>

{% endblock %}
