{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p class="introtext">Primary results are published on a live, as-recorded basis. {% if saved %}Thanks for voting!{% else %}<a href="/vote">Vote</a>{% endif %}</p>
</div>

<div class="topdiv">
  <table class="results">
  {% for r in ratings %}
    <tr>
      <td class="score">
        <div style="width:{{ r.display_width }}px; color:{{ r.candidate.fgcolor }}; background-color:{{ r.candidate.color }};">
          {{ r.approval }}%
        </div>
      </td>
      
      <td class="candidate">
        <p>{{ r.candidate.name }} - {{ r.candidate.synopsis }}</p>
        <a href="{{ r.candidate.link }}" target="_blank">homepage</a>
      </td>
    </tr>
  {% endfor %} 
  </table>
</div>

<div class="topdiv" style="padding-top:4px;">
  <p style="display:inline; font-size:x-large;">{% if saved %}Thanks for voting!{% else %}Cast your <a href="/vote">Vote</a>. [TODO: Authentication]{% endif %}</p>

  <p class="introtext">This is a pre-alpha sneak preview. Votes will determine initial ballot ordering on the next release. Please do not spam. If it appears like you spammed, your votes will be discounted manually. Alpha release will include reasonable spam-prevention - login will be required (fb, twitter, g+, lin, et al.)

  <p class="introtext">For fairness, vote counts will be fully reset each major release (alpha, beta, live). The new parties you see listed were write-in entries on the last survey.</p>
</div>

{% endblock %}
