{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p class="introtext">{{ numvotes }} votes recorded so far.{% if saved %} Thanks for voting!{% endif %} 
    {% if user.is_authenticated %}
      {% if voted %}<a href="/vote">Adjust</a> your vote anytime.
      {% else %}Cast your <a href="/vote">Vote</a>
      {% endif %}
    {% else %}Please login to vote.
    {% endif %}
  </p>
</div>

<table class="results">
  {% for r in ratings %}
    <tr>
      <td class="score">
        <div style="width:{{ r.display_width }}px; color:{{ r.candidate.fgcolor }}; background-color:{{ r.candidate.color }};">
          {{ r.approval }}%
        </div>
      </td>
      
      <td class="candidate">
        <p>{{ r.candidate.name }} - {{ r.candidate.synopsis }}</p>
        <a href="{{ r.candidate.link }}" target="_blank">homepage</a>
      </td>
    </tr>
  {% endfor %} 
</table>

<div class="topdiv" style="padding-top:4px;">
  <p style="display:inline; font-size:x-large;">
    {% if user.is_authenticated %}
      {% if voted %}<a href="/vote">Adjust</a> your vote anytime.
      {% else %}Cast your <a href="/vote">Vote</a>
      {% endif %}
    {% else %}Please login to vote.
    {% endif %}
  </p>
</div>

{% endblock %}
