{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Primary results are published on a live, as-recorded basis. {% if saved %}Thanks for voting!{% else %}<a href="/vote">Vote</a>{% endif %}</p>

  <p>This is a pre-alpha sneak preview. Votes will determine initial ballot ordering on the next release. Please do not spam. If it appears like you spammed, your votes will count negatively instead of positively.</p>

  <p>Vote counts will be fully reset each major release (alpha, beta, live). The new parties you see below were write-in entries on the last survey.</p>
</div>

<div class="topdiv">
  <table class="results">
  {% for c in candidates %}
    <tr>
      <td class="score">
        <div style="width:200px; color:{{ c.fgcolor }}; background-color:{{ c.color }};">10%</div>
      </td>
      
      <td class="candidate">
        <p>{{ c.name }} - {{ c.synopsis }}</p>
        <a href="{{ c.link }}">homepage</a>
      </td>
    </tr>
  {% endfor %} 
  </table>
</div>

<div class="topdiv" style="padding-top:4px;">
  <p style="display:inline; font-size:x-large;">{% if saved %}Thanks for voting!{% else %}Cast your <a href="/vote">Vote</a>. [TODO: Authentication]{% endif %}</p>
</div>

{% endblock %}
