{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Background information on Wasted Vote Syndrome: <a href="http://en.wikipedia.org/wiki/Duverger's_law">Duverger's Law</a> and this brief <a href="https://www.youtube.com/watch?v=s7tWHJfhiyo">video</a>.

  <p>Reform options: Our favorites are <a href="http://en.wikipedia.org/wiki/Range_voting">Range</a> and <a href="http://en.wikipedia.org/wiki/Proportional_representation">Proportional</a Voting>. There is also <a href="en.wikipedia.org/wiki/Instant-runoff_voting">IRV / Ranked</a> and <a href="http://wiki.electorama.com/wiki/Proportional_approval_voting">PAV</a>.

  <p>Liquid Democracy is a form of Representative Democracy for the Technology Age. See this <a href="https://www.youtube.com/watch?v=fg0_Vhldz-8">educational video</a> that explains it quite eloquently. We believe this is what the Founders would have envisioned for our country if they could have imagined the Internet.</p>
</div>

{% endblock %}
