{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Other NPOs in the domestic space: <a href="http://fairvote.org" target="_blank">Fair Vote</a>, <a href="http://electology.org" target="_blank">Electology</a>, <a href="http://cfer.org" target="_blank">Californians for Electoral Reform</a></p>

  <p>Other NPOs in the international space: <a href="http://www.electoral-reform.org.uk" target="_blank">Electoral Reform Socity (UK)</a></p>

  <p>Organizations working on Technical Infrastructure: <a name="lf" href="http://liquidfeedback.org" target="_blank">Liquid Feedback</a>, <a href="http://loomio.org" target="_blank">Loomio</a>, <a href="http://wiki.piratenpartei.de/Pirate_Feedback/en" target="_blank">Pirate Feedback</a>, <a href="http://kudocracy.org" target="_blank">Kudocracy</a>. 
</div>

{% endblock %}
