{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Other NPOs in the domestic space: <a href="http://fairvote.org">Fair Vote</a>, <a href="http://electology.org">Electology</a>, <a href="http://cfer.org">Californians for Electoral Reform</a></p>

  <p>Other NPOs in the international space: <a href="http://www.electoral-reform.org.uk">Electoral Reform Socity (UK)</a></p>

  <p>Organizations working on Technical Infrastructure: <a name="lf" href="http://liquidfeedback.org">Liquid Feedback</a>, <a href="http://loomio.org">Loomio</a>, <a href="http://wiki.piratenpartei.de/Pirate_Feedback/en">Pirate Feedback</a>, <a href="htttp://kudocracy.org">Kudocracy</a>. 
</div>

{% endblock %}
