{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>Welcome to the Online U.N.!</p>

  <p>This is an open invitation to all denizens of these United Networks.</p>

  <p>We would like you to <a href="http://www.reddit.com/r/onlineUN">join us</a> in organized, constructive discourse with other ordinary citizens across the globe. Our aim is to improve the lives of our constituency by circumventing established bureaucracy, domestic and international. We will use technology to bring the conversation back to the people.</p>

  <p>We act on no one's authority but our own. We don't need permission to coordinate.</p>

  <p>Please take a moment to <a href="/vote">register</a> and cast your first vote. Become a delegate by simply participating in our referral program. Visit your account page after registering.</p>

  <p>All decisions will be made according to the principles of Liquid Democracy. The initial delegation structure will be  built according to the referral program, but users may change delegacy at any time. Early decisions will focus on priorities, platform development, and fundraising.</p>
</div>

{% endblock %}
