{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p>First, select your favorite party.</p>
</div>

<div class="topdiv">
  <table class="results">
  {% for c in candidates %}
    <tr>
      <td class="range">
        <div style="background-color:{{ c.color }};">
          <a href="/approval?fav={{ c.name }}">[x]</a>
        </div>
      </td>
      
      <td class="candidate">
        <p>{{ c.name }} - {{ c.synopsis }}</p>
        <a href="{{ c.link }}" target="_blank">homepage</a>
      </td>
    </tr>
  {% endfor %} 
  </table>
</div>

<div class="topdiv" style="padding-top:4px;">
  <p style="display:inline; font-size:x-large;">Select your favorite party above.</p>
</div>

{% endblock %}
