{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="topdiv" style="padding-top:4px;">
  <p class="introtext">Select your favorite {% if is_party %}party{% else %}candidate{% endif %}.</p>
</div>

<div class="topdiv">
  <table class="results">
  {% for c in candidates %}
    <tr>
      <td class="range">
        <div style="background-color:{{ c.color }};">
          <span onclick="javascript: saveFavorite({{ c.id }});">
            <input class="rangeValue" readonly="readonly" />
          </span>
        </div>
      </td>
      
      <td class="candidate">
      {% if is_party %}
        <p>{{ c.name }} - {{ c.synopsis }}</p>
        <a href="{{ c.link }}" target="_blank">homepage</a>
      {% else %}
        <p>{{ c.name }}</p>
        <p style="font-size:large;">{{ c.synopsis }}</p>
      {% endif %}
      </td>
    </tr>
  {% endfor %} 
  </table>
</div>

<div class="topdiv" style="padding-top:4px;">
  <p style="display:inline; font-size:x-large;">Select your favorite {% if is_party %}party{% else %}candidate{% endif %} above.</p>
</div>

{% endblock %}
